 @import 'nav';  
 @import 'slider'; 
 @import 'responsive';
 @font-face {
     font-family: rubik;
     src: url(../fonts/RubikMoonrocks-Regular.ttf);
 } 
 @font-face {
    font-family: merienda;
    src: url(../fonts/Merienda-Bold.ttf);
} 
@font-face {
    font-family: creep;
    src: url(../fonts/Creepster-Regular.ttf);
} 

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
} 
@mixin  WidthHeigth {
    width: 100%;
    height: 100%;
} 
@mixin flexClmnStrt  {
    display: flex;
flex-direction: column;
align-items:flex-start;
    
} 
@mixin   transparentBorder{
    background-color: transparent;
    border: none;
    outline: none;
}
 body {

    margin: 0;
    padding: 0; 
  background-color: #080808; 
  height: 150vh;
  }
 
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
//..........Scrollbar.........................

 
*::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #ff0000);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, #00f7ff);
} 


