.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 50px;
  max-width: 1400px;
  margin: auto;
  width: 100%;
  -webkit-box-shadow: #26394d 0px 20px 30px -10px;
   box-shadow: #26394d 0px 20px 30px -10px;
  height: 15vh;
  margin-bottom: 100px;
}

.navigation .menu-icon {
  cursor: pointer;
  float: right;
  padding: 20px 10px;
  z-index: 103;
}

.navigation .menu-icon .nav-icon {
  background-color: #fff;
  display: block;
  height: 2px;
  width: 25px;
  position: relative;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.navigation .menu-icon .nav-icon::before, .navigation .menu-icon .nav-icon::after {
  background-color: #ffffffcc;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.navigation .menu-icon .nav-icon::before {
  top: 8px;
}

.navigation .menu-icon .nav-icon::after {
  top: -8px;
}

/* menu bar rotation */
.navigation .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0px;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
}

.logo {
  color: #e70634;
  font-size: 3rem;
  font-weight: 400;
  margin: 0px auto 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: merienda;
  letter-spacing: 1px;
}

.logo span {
  font-size: 0.7rem;
  margin-left: 5px;
  font-weight: 700px;
  letter-spacing: 2px;
}

.search-box {
  background-color: #d1d1d111;
  padding: 3px 20px;
  border-radius: 20px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.search-box input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #e70634;
  font-family: merienda;
}

.search-box input::-webkit-input-placeholder {
  color: #17bedb91;
  font-family: merienda;
}

.search-box input:-ms-input-placeholder {
  color: #17bedb91;
  font-family: merienda;
}

.search-box input::-ms-input-placeholder {
  color: #17bedb91;
  font-family: merienda;
}

.search-box input::placeholder {
  color: #17bedb91;
  font-family: merienda;
}

.search-box button {
  background-color: transparent;
  color: #ffffffc9;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-box .bi-heart {
  color: #e70634;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #111111f1;
  z-index: 102;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade 1.3s;
          animation: fade 1.3s;
  -webkit-transition: all ease-out 1.3s;
  transition: all ease-out 1.3s;
}

.menu li a {
  color: #fff;
  margin: 0px 40px;
  font-size: 2rem;
  font-family: rubik;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.menu li a:hover {
  font-size: 2.3rem;
  color: #060ee7;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.swiper {
  width: 100%;
  margin: 15px auto;
  max-width: 1000px;
}

.swiper .swiper-wrapper {
  height: 100% !important;
}

.swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px !important;
  margin-left: 10px;
  z-index: 9999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box {
  width: 100%;
  height: 450px;
  border: 2px solid #ff0000c2;
  position: relative;
  overflow: hidden;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  background-color: rgba(163, 55, 55, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-overlay i {
  font-size: 3rem;
  cursor: pointer;
  z-index: 999;
  color: #00d5ff;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-overlay i:hover {
  color: #002aff;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box:hover .main-slider-overlay {
  top: 0px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-img {
  width: 100%;
  height: 100%;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #161616b9), color-stop(64%, rgba(73, 73, 73, 0.23)));
  background: linear-gradient(360deg, #161616b9 35%, rgba(73, 73, 73, 0.23) 64%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-text .quality {
  background-color: #f9f9f9;
  color: #000000;
  font-weight: 600;
  padding: 0px 5px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.5px;
  font-family: merienda;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-text .bottom-text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-text .movie-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: merienda;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-text .movie-name span {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 900;
  color: rgba(240, 240, 240, 0.82);
  text-align: center;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-text .movie-name strong {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
  color: #ffffff;
  letter-spacing: 0.5px;
  font-family: merienda;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-text .category-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-text .category-rating .category {
  color: #969696;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: creep;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-text .category-rating .category a {
  color: #e70634;
  margin: 0px 3px;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-text .category-rating .rating {
  font-size: 0.8rem;
  color: #fff;
  letter-spacing: 1px;
  text-align: end;
}

.swiper .swiper-wrapper .swiper-slide .main-slider-box .main-slider-text .category-rating .rating img {
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 45%;
  widows: 22px;
}

/* slider navigation */
.swiper-button-next,
.swiper-button-prev {
  margin-top: 100px;
}

@media (max-width: 830px) {
  .search-box {
    width: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: -20px;
  }
  .logo {
    font-size: 2rem;
  }
  .menu-btn {
    display: none;
  }
  .menu-btn:checked ~ .menu {
    display: inline-block;
    text-align: center;
  }
  .swiper-slide {
    width: 200px !important;
    height: 400px !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 15px;
  }
  .mySwiper {
    height: 400px !important;
  }
  .main-slider-box {
    height: 400px !important;
  }
}

@media (max-width: 730px) {
  .navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2rem;
  }
  .navigation .search-box {
    width: 250px;
    text-align: center;
    margin-right: -40px;
  }
}

@media (max-width: 550px) {
  .mySwiper {
    height: 370px !important;
  }
  .mySwiper .swiper-slide {
    height: 370px !important;
  }
  .mySwiper .swiper-slide .main-slider-box {
    height: 370px !important;
  }
  .search-box {
    display: none;
  }
}

@font-face {
  font-family: rubik;
  src: url(../fonts/RubikMoonrocks-Regular.ttf);
}

@font-face {
  font-family: merienda;
  src: url(../fonts/Merienda-Bold.ttf);
}

@font-face {
  font-family: creep;
  src: url(../fonts/Creepster-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #080808;
  height: 150vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ff0000));
  background: linear-gradient(transparent, #ff0000);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#00f7ff));
  background: linear-gradient(transparent, #00f7ff);
}
/*# sourceMappingURL=style.css.map */